<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <%= link_to "Pottery with you", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Products", products_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu">
          <% Category.all.each do |category| %>
            <li><%= link_to category.name, category_path(category), class: "nav-link" %></li>
          <% end %>
          </ul>
        </li>
      </ul>
      <%# <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> %>
      <div>
      <%= form_tag search_results_path, class: "d-flex", method: :get do %>
      <span class= "">
        <%= text_field_tag :search_keywords, nil, class: 'form-control', id: 'navSearch', placeholder: 'Search', width: "20px" %>
        <%# <%= text_field_tag :search_keywords, class: "form-control me-2", type: "search", placeholder: "search" %>
        </span>
        <%= submit_tag 'Search', class: "btn btn-outline-success" %>
      <% end %>
      </div>
    </div>
  </div>
</nav>