<div id="<%= dom_id customer %>">
  <p>
    <strong>Firstname:</strong>
    <%= customer.firstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= customer.lastName %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= customer.address %>
  </p>

  <p>
    <strong>Postalcode:</strong>
    <%= customer.postalCode %>
  </p>

  <p>
    <strong>City:</strong>
    <%= customer.city %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= customer.province %>
  </p>

</div>
