 <section class="product">
    <h2><%= link_to product.name, store_product_path(product) %></h2>
    <div class="description">
      <%= product.description %>
    </div>
    <% if product.category %>
      <p>
        <strong>Category:</strong> <%= product.category.name %>
      </p>
    <% end %>
    <% if product.image_filename.present? %>
      <%= link_to image_tag(product.image_filename, :width => '150'), product %>
    <% end %>
    <p class="price">
      <%= number_to_currency product.price%>
    </p>
  </section>