<p style="color: green"><%= notice %></p>

<% if user_signed_in? %>
  <div>
    Welcome <%= current_user.useremail %>
  </div>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path %>
  <% end %>

<h1>Products</h1>
<details>
  <summary>Shopping Cart</summary>
  <% if @cart.empty? %>
    <p>There are no items in your cart.</p>
  <% else %>
  <ul>
    <% @cart.each do |product| %>
      <li><%= product.name %> - <%= link_to 'remove from cart', remove_from_cart_path(product), method: :delete %></li>
      <% end %>
  </ul>
  <% end %>
</details>

<%= link_to "New product", new_product_path %>

  <div class="row row-cols-3">
    <% @products.each do |product| %>
      <%= render product %>
      <% end %>
  </div>

<%= paginate @products %>
