<p style="color: green"><%= notice %></p>

<h1>Products</h1>
<%= debug session[:cart] %>

<%= link_to "New product", new_product_path %>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
    <p><%= link_to 'add to cart', add_to_cart_path(product.id), method: :post %></p>
  <% end %>
</div>

<%= paginate @products %>
