<p style="color: green"><%= notice %></p>

<h1>Products</h1>
<details>
  <summary>Shopping Cart</summary>
  <ul>
    <% @cart.each do |product| %>
      <li><%= product.name %></li>
      <% end %>
  </ul>
</details>

<%= link_to "New product", new_product_path %>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
    <% if @cart.include?(product) %>
      <p>Product is already in your cart.</p>
    <% else %>
      <p><%= link_to 'add to cart', add_to_cart_path(product.id), method: :post %></p>
    <% end %>
  <% end %>
</div>

<%= paginate @products %>
