<div class="alert alert-secondary" role="alert">
  <p style="color: green"><%= flash[:notice] = "Product has been created!!! :)" %></p>
</div>

<%# <%= render @product %>

<h2><%= link_to @product.name, store_product_path(@product) %></h2>
    <div class="description">
      <%= @product.description %>
    </div>
    <% if @product.category %>
      <p>
        <strong>Category:</strong> <%= @product.category.name %>
      </p>
    <% end %>

<% if @product.image.present? %>
      <%= link_to image_tag(@product.image, :width => '500'), @product %>
<% end %>

<p class="price">
      <%= number_to_currency @product.price%>
</p>

<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
